.table-container{
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 15px;
}

.header {
    display: flex;
}

.actions-container{
    display: flex;
    justify-content: space-evenly;
}

.zero-state {
    margin: 25px;
}
/* Buttons with font-awesome icons */
.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.header{
    display: flex;
    gap: 15px;
}