.table-container {
    display: flex;
    flex-direction: column;
    margin: 25px;
    gap: 15px;
}

.header {
    display: flex;
    gap: 15px;
    /* margin-bottom: 20px; */
}

.actions-container {
    display: flex;
    justify-content: space-evenly;
}

.zero-state {
    margin: 25px;
}

/* Buttons with font-awesome icons */
.btn-label-left {
    position: relative;
    left: -8px;
    display: inline-block;
    padding: 1px 6px;
}

.btn-label-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 7px;
}
/* Inverting SVG icon from black to white */
.invert {
    -webkit-filter: invert(100%);
    /* safari 6.0 - 9.0 */
    filter: invert(100%);
    -webkit-filter: invert(1);
    /* safari 6.0 - 9.0 */
    filter: invert(1);
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

td {
    text-align: center;
    vertical-align: middle;
}